@use "../abstract"as *;

.header {
    display: flex;
    padding: 0.8125rem 2rem 1.125rem;
    max-width: 87.125rem;
    margin: 0 auto;

    @include respond-to("large") {
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__nav {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        padding: 0 1.4375rem .375rem;

        @include respond-to("large") {
            display: none;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &__logo {
        flex: 0 0 15.125rem;
    }
}

@include hamburger;