@use "../abstract"as *;

.nav {

    &__list,
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @include respond-to("large") {
            flex-flow: column;
        }
    }

    &__item,
    li {
        font-size: 1.5rem;
        line-height: 1.625rem;
        font-weight: 500;
        padding: 0 .9375rem;
        color: $accent-blue;
        margin-bottom: 0;
        text-align: center;

        a {
            color: inherit;
        }

        @include respond-to("larger") {
            font-size: 1.25rem;
        }

        @include respond-to("large") {
            line-height: 1;
            padding: .5rem 1rem;
        }
    }
}